<!--<div class="" style="background-color:white;padding:20px;margin-left:20px;margin-right:20px;">
    <ul class="nav nav-tabs">
      <li role="presentation"><a routerLink="/">User List</a></li>
      <li role="presentation"><a routerLink="/add_book">Add User</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>-->
<div class="col-md-8 col-md-offset-2">

  <div style="background-color:white;padding:20px;margin-left:20px;margin-right:20px;">
    <ul class="nav nav-tabs">
      <li role="presentation"><a routerLink="list">User List</a></li>
      <li role="presentation"><a routerLink="add">Add User</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>

  <!--<app-add-user></app-add-user>

  <app-user-list></app-user-list>-->
</div>