<table class="table table-bordered table-hover table-striped">
      <tr>
        <th width="150px">Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Company Name</th>
        <th width="100px"></th>
      </tr>

      <tr *ngFor="let userInput of data_user; let i = index">
        <td> {{ userInput.name }} </td>
        <td> {{ userInput.email }} </td>
        <td> {{ userInput.address }} </td>
        <td> {{ userInput.phoneNumber }} </td>
        <td> {{ userInput.companyName }} </td>
        <td><button class="btn btn-primary" (click)="deleteUser()">Remove</button></td>
      </tr>
    </table>